@import "../vars";

.about {
  padding-top: 22.7rem;

  @include breakpoint($xl-bp) {
    padding-top: 10rem;
  }

  @include breakpoint($sm-bp) {
    padding-top: calc(10rem * 1.28);
  }

  &-container {
    max-width: 130.5rem;
    margin: 0 auto;
    padding: 0 2.9rem;
  }

  &-main {
    display: flex;
    flex-direction: column;
    gap: 5.7rem;
    margin-bottom: 7.2rem;

    @include breakpoint($jb-bp) {
      gap: 3rem;
      margin-bottom: 4rem;
    }

    @include breakpoint($sm-bp) {
      gap: calc(3rem * 1.28);
      margin-bottom: calc(4rem * 1.28);
    }

    &__title {
      padding-left: 3.5rem;
      font-size: 7.2rem;
      font-weight: $f-b;
      color: #463F3A;

      @include breakpoint($jb-bp) {
        font-size: 4.6rem;
      }

      @include breakpoint($sm-bp) {
        font-size: calc(4.6rem * 1.28);
      }
    }

    &-info {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 10.6rem;

      @include breakpoint($xl-bp) {
        gap: 4rem;
      }

      @include breakpoint($lb-bp) {
        flex-direction: column;
      }

      @include breakpoint($sm-bp) {
        gap: calc(4rem * 1.28);
      }

      &-img {
        width: 78.2rem;
        height: 50rem;

        @include breakpoint($xl-bp) {
          width: 50%;
        }

        @include breakpoint($lb-bp) {
          width: 100%;
          height: 40rem;
        }

        @include breakpoint($sm-bp) {
          height: calc(40rem * 1.28);
        }

        &__img {
          object-fit: cover;
          object-position: center center;
          width: 100%;
          height: 100%;
        }
      }

      // &__text {
      //   flex: 1;
      //   font-size: 1.8rem;
      //   font-weight: $f-l;
      //   color: #463F3A;
      //   line-height: 158.7%;

      //   @include breakpoint($sm-bp) {
      //     font-size: 1.6rem;
      //   }

      //   &_bold {
      //     font-weight: $f-s;
      //     font-size: inherit;
      //     color: inherit;
      //     line-height: inherit;
      //   }
      // }

      &> {
        p {
          flex: 1;
          font-size: 1.8rem;
          font-weight: $f-l;
          color: #463F3A;
          line-height: 158.7%;

          @include breakpoint($sm-bp) {
            font-size: calc(1.6rem * 1.28);
          }
        }

        strong {
          font-weight: $f-s;
          font-size: inherit;
          color: inherit;
          line-height: inherit;
        }
      }
    }
  }

  &-info {
    height: 83.9rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    margin-bottom: 8.8rem;

    @include breakpoint($xl-bp) {
      height: unset;
      flex-direction: column;
    }

    @include breakpoint($sm-bp) {
      margin-bottom: calc(4rem * 1.28);
    }

    // &-text {
    //   padding: 8.1rem 18.4rem 8.1rem 4.6rem;
    //   background-color: #F4F3EE;
    //   width: 50.4rem;
    //   min-height: 57.8rem;
    //   font-size: 1.8rem;
    //   font-weight: $f-l;
    //   color: #463F3A;
    //   text-align: justify;
    //   line-height: 158.7%;

    //   @include breakpoint($xl-bp) {
    //     padding: 4rem;
    //     min-height: unset;
    //     width: 100%;
    //   }

    //   @include breakpoint($sm-bp) {
    //     font-size: 1.6rem;
    //     padding: 4rem 2rem;
    //   }

    //   &_bold {
    //     font-weight: $f-s;
    //     font-size: inherit;
    //     color: inherit;
    //     line-height: inherit;
    //   }
    // }

    &-img {
      width: 86.7rem;
      height: 58.7rem;
      position: absolute;
      right: 0;
      bottom: 0;

      @include breakpoint($xl-bp) {
        position: static;
        width: 100%;
      }

      @include breakpoint($jb-bp) {
        height: 50rem;
      }

      @include breakpoint($lb-bp) {
        height: 40rem;
      }

      @include breakpoint($sm-bp) {
        height: calc(30rem * 1.28);
      }

      &__img {
        object-fit: cover;
        object-position: center center;
        width: 100%;
        height: 100%;
      }
    }

    &> {
      p {
        padding: 8.1rem 18.4rem 8.1rem 4.6rem;
        background-color: #F4F3EE;
        width: 50.4rem;
        min-height: 57.8rem;
        font-size: 1.8rem;
        font-weight: $f-l;
        color: #463F3A;
        text-align: justify;
        line-height: 158.7%;

        @include breakpoint($xl-bp) {
          padding: 4rem;
          min-height: unset;
          width: 100%;
        }

        @include breakpoint($sm-bp) {
          font-size: calc(1.6rem * 1.28);
          padding: calc(4rem * 1.28) calc(2rem * 1.28);
        }
      }

      strong {
        font-weight: $f-s;
        font-size: inherit;
        color: inherit;
        line-height: inherit;
      }
    }
  }

  &-light {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 7.2rem;

    @include breakpoint($xl-bp) {
      flex-direction: column;
      gap: 4rem;
    }

    @include breakpoint($sm-bp) {
      margin-bottom: calc(4rem * 1.28);
    }

    &-col {
      display: flex;
      flex-direction: column;
      gap: 7.2rem;

      @include breakpoint($xl-bp) {
        width: 100%;
        gap: 4rem;
      }

      @include breakpoint($sm-bp) {
        gap: calc(4rem * 1.28);
      }

      &-img {
        &__img {
          object-fit: cover;
          object-position: center center;
          width: 100%;
          height: 100%;
        }
      }

      // &__text {
      //   font-size: 1.8rem;
      //   font-weight: $f-l;
      //   color: #463F3A;
      //   line-height: 158.7%;
      //   text-align: justify;

      //   @include breakpoint($sm-bp) {
      //     font-size: 1.6rem;
      //   }

      //   &_bold {
      //     font-weight: $f-s;
      //     font-size: inherit;
      //     color: inherit;
      //     line-height: inherit;
      //   }
      // }

      &> {
        p {
          font-size: 1.8rem;
          font-weight: $f-l;
          color: #463F3A;
          line-height: 158.7%;
          text-align: justify;

          @include breakpoint($sm-bp) {
            font-size: calc(1.6rem * 1.28);
          }
        }

        strong {
          font-weight: $f-s;
          font-size: inherit;
          color: inherit;
          line-height: inherit;
        }
      }

      &-1 {
        align-items: center;

        .about-light-col {
          &-img {
            width: 66.4rem;
            height: 43.4rem;

            @include breakpoint($xl-bp) {
              width: 100%;
              height: 60rem;
            }

            @include breakpoint($jb-bp) {
              height: 50rem;
            }

            @include breakpoint($lb-bp) {
              height: 40rem;
            }

            @include breakpoint($sm-bp) {
              height: calc(30rem * 1.28);
            }
          }

          // &__text {
          //   max-width: 49rem;

          //   @include breakpoint($xl-bp) {
          //     max-width: 100%;
          //   }
          // }
        }

        p {
          max-width: 49rem;

          @include breakpoint($xl-bp) {
            max-width: 100%;
          }
        }
      }

      &-2 {
        align-items: flex-start;

        @include breakpoint($xl-bp) {
          gap: 0rem;
        }

        .about-light-col {
          &-img {
            width: 45.8rem;
            height: 63.3rem;

            @include breakpoint($xl-bp) {
              width: 100%;
            }

            @include breakpoint($jb-bp) {
              height: 50rem;
            }

            @include breakpoint($lb-bp) {
              height: 40rem;
            }

            @include breakpoint($sm-bp) {
              height: calc(30rem * 1.28);
            }
          }

          // &__text {
          //   width: 46.5rem;
          //   padding: 7.8rem 4.8rem 8.5rem;
          //   background-color: #F4F3EE;

          //   @include breakpoint($xl-bp) {
          //     width: 100%;
          //     padding: 4rem;
          //   }

          //   @include breakpoint($sm-bp) {
          //     padding: 4rem 2rem;
          //   }
          // }
        }

        p {
          width: 46.5rem;
          padding: 7.8rem 4.8rem 8.5rem;
          background-color: #F4F3EE;

          @include breakpoint($xl-bp) {
            width: 100%;
            padding: 4rem;
          }

          @include breakpoint($sm-bp) {
            padding: calc(4rem * 1.28) calc(2rem * 1.28);
          }
        }
      }
    }
  }

  &-brands {
    display: flex;
    flex-direction: column;
    gap: 7.2rem;
    align-items: center;
    margin-bottom: 7.2rem;

    @include breakpoint($jb-bp) {
      gap: 4rem;
    }

    @include breakpoint($sm-bp) {
      margin-bottom: calc(4rem * 1.28);
    }

    &-head {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 4.8rem;

      @include breakpoint($lb-bp) {
        flex-direction: column;
      }

      @include breakpoint($sm-bp) {
        gap: calc(3rem * 1.28);
      }
    }

    &__title {
      font-size: 6.4rem;
      font-weight: $f-b;
      color: #8A817C;
      max-width: 54.5rem;

      @include breakpoint($xl-bp) {
        font-size: 4.6rem;
      }

      @include breakpoint($sm-bp) {
        font-size: calc(4.2rem * 1.28);
      }

      &_dark {
        color: #463F3A;
        font-size: 7rem;

        @include breakpoint($xl-bp) {
          font-size: 4.6rem;
        }

        @include breakpoint($sm-bp) {
          font-size: calc(4.2rem * 1.28);
        }
      }
    }

    &__description {
      font-size: 1.8rem;
      font-weight: $f-l;
      color: #56575B;
      line-height: 158.7%;
      text-align: justify;

      @include breakpoint($sm-bp) {
        font-size: calc(1.6rem * 1.28);
      }
    }

    &-img {
      width: 75.7rem;
      height: 45.3rem;

      @include breakpoint($lb-bp) {
        width: 100%;
      }

      @include breakpoint($sm-bp) {
        height: calc(30rem * 1.28);
      }

      &__img {
        object-fit: cover;
        object-position: center center;
        width: 100%;
        height: 100%;

        @include breakpoint($jb-bp) {
          object-fit: contain;
        }
      }
    }
  }
}