<section class="about">
  <div class="about-container">

    <div class="about-main">
      <h2 class="about-main__title">О нас</h2>

      <div class="about-main-info">
        <div class="about-main-info-img">
          <img src="assets/images/about-main.jpg" alt="about-main" class="about-main-info-img__img">
        </div>

        <!-- <p class="about-main-info__text">
          Разместив <span class="about-main-info__text_bold">BuzziShade Square</span> над источником шума (например,
          гостиной или рабочими станциями), он будет
          поглощать большое количество звука, что поможет создать хорошо сбалансированное рабочее пространство.
          <br><br>
          Разместив <span class="about-main-info__text_bold">BuzziShade Square</span> над источником шума (например,
          гостиной или рабочими станциями), он будет
          поглощать большое количество звука, что поможет создать хорошо сбалансированное рабочее пространство.
        </p> -->
        <p>
          Разместив <strong>BuzziShade Square</strong> над источником шума (например,
          гостиной или рабочими станциями), он будет
          поглощать большое количество звука, что поможет создать хорошо сбалансированное рабочее пространство.
          <br><br>
          Разместив <strong>BuzziShade Square</strong> над источником шума (например,
          гостиной или рабочими станциями), он будет
          поглощать большое количество звука, что поможет создать хорошо сбалансированное рабочее пространство.
        </p>
      </div>
    </div>

    <div class="about-info">
      <!-- <p class="about-info-text">
        <span class="about-info-text_bold">BuzziShade Square</span> снижает уровень внешнего шума до минимума.
        Благодаря большой площади поверхности подвесного
        светильника и закругленным углам решение может эффективно улавливать звуковые волны, когда они движутся вверх,
        и, таким образом, предотвращать их отражение по комнате.
      </p> -->
      <p>
        <strong>BuzziShade Square</strong> снижает уровень внешнего шума до минимума.
        Благодаря большой площади поверхности подвесного
        светильника и закругленным углам решение может эффективно улавливать звуковые волны, когда они движутся вверх,
        и, таким образом, предотвращать их отражение по комнате.
      </p>

      <div class="about-info-img">
        <img src="assets/images/about-info.jpg" alt="about" class="about-info-img__img">
      </div>
    </div>

    <div class="about-light">
      <div class="about-light-col about-light-col-1">
        <div class="about-light-col-img">
          <img src="assets/images/about-logo.jpg" alt="logo" class="about-light-col-img__img">
        </div>

        <p class="about-light-col__text">
          <span class="about-light-col__text_bold">Свет</span> – фактор, необходимый для полноценной жизни. Мы долгое
          время изучали, как температура,
          насыщенность и режим освещения влияют на биологические ритмы и изменения в организме человека.
          Правильное освещение бережет наше зрение, позволяет меньше утомляться, повышает работоспособность,
          уменьшает риск головной боли и бессонницы.
          <br><br>
          Заботясь о своих потребителях, мы предлагаем индивидуальные системы освещения, которые не только
          решают технические вопросы света и удовлетворяют эстетические
          <br><br>
          <span class="about-light-col__text_bold">Свет</span> – фактор, необходимый для полноценной жизни. Мы долгое
          время изучали, как температура,
          насыщенность и режим освещения влияют на биологические ритмы и изменения в организме человека.
          Правильное освещение бережет наше зрение, позволяет меньше утомляться, повышает работоспособность,
          уменьшает риск головной боли и бессонницы.
          <br><br>
          Заботясь о своих потребителях, мы предлагаем индивидуальные системы освещения, которые не только
          решают технические вопросы света и удовлетворяют эстетические
        </p>
      </div>

      <div class="about-light-col about-light-col-2">
        <p class="about-light-col__text">
          <span class="about-light-col__text_bold">Свет</span> – фактор, необходимый для полноценной жизни. Мы долгое
          время изучали, как температура,
          насыщенность и режим освещения влияют на биологические ритмы и изменения в организме человека.
          Правильное освещение бережет наше зрение, позволяет меньше утомляться, повышает работоспособность,
          уменьшает риск головной боли и бессонницы.

          Заботясь о своих потребителях, мы предлагаем индивидуальные системы освещения, которые не только
          решают технические вопросы света и удовлетворяют эстетические
        </p>

        <div class="about-light-col-img">
          <img src="assets/images/about-img.jpg" alt="about" class="about-light-col-img__img">
        </div>
      </div>
    </div>

    <div class="about-brands">
      <div class="about-brands-head">
        <h3 class="about-brands__title">
          <span class="about-brands__title_dark">Бренды</span>
          которые мы изготовливаем
        </h3>

        <p class="about-brands__description">
          Свет – фактор, необходимый для полноценной жизни. Мы долгое время изучали, как температура,
          насыщенность и режим освещения влияют на биологические ритмы и изменения в организме человека.
          Правильное освещение бережет наше зрение, позволяет меньше утомляться, повышает работоспособность,
          уменьшает риск головной боли и бессонницы.
        </p>
      </div>

      <div class="about-brands-img">
        <img src="assets/images/about-brands.jpg" alt="brands" class="about-brands-img__img">
      </div>
    </div>

  </div>
</section>