<section class="catalog">
  <div class="container">

    <h2 class="catalog-title">Каталог</h2>

    <ul class="catalog-list">
      <li class="catalog-list-item">
        <a href="#" class="catalog-list-item-img">
          <img src="assets/images/catalog-1.jpg" alt="catalog" class="catalog-list-item-img__img">
        </a>

        <h4 class="catalog-list-item__title">U-light</h4>

        <p class="catalog-list-item__description">Подвесная лампа</p>
      </li>
      <li class="catalog-list-item">
        <a href="#" class="catalog-list-item-img">
          <img src="assets/images/catalog-2.jpg" alt="catalog" class="catalog-list-item-img__img">
        </a>

        <h4 class="catalog-list-item__title">U-light</h4>

        <p class="catalog-list-item__description">Подвесная лампа</p>
      </li>
      <li class="catalog-list-item">
        <a href="#" class="catalog-list-item-img">
          <img src="assets/images/catalog-3.jpg" alt="catalog" class="catalog-list-item-img__img">
        </a>

        <h4 class="catalog-list-item__title">U-light</h4>

        <p class="catalog-list-item__description">Настенная лампа</p>
      </li>
      <li class="catalog-list-item">
        <a href="#" class="catalog-list-item-img">
          <img src="assets/images/catalog-4.jpg" alt="catalog" class="catalog-list-item-img__img">
        </a>

        <h4 class="catalog-list-item__title">Ego</h4>

        <p class="catalog-list-item__description">Потолочная лампа</p>
      </li>
      <li class="catalog-list-item">
        <a href="#" class="catalog-list-item-img">
          <img src="assets/images/catalog-5.jpg" alt="catalog" class="catalog-list-item-img__img">
        </a>

        <h4 class="catalog-list-item__title">Match</h4>

        <p class="catalog-list-item__description">Потолочная лампа</p>
      </li>
      <li class="catalog-list-item">
        <a href="#" class="catalog-list-item-img">
          <img src="assets/images/catalog-6.jpg" alt="catalog" class="catalog-list-item-img__img">
        </a>

        <h4 class="catalog-list-item__title">Hoops</h4>

        <p class="catalog-list-item__description">Потолочная лампа</p>
      </li>
      <li class="catalog-list-item">
        <a href="#" class="catalog-list-item-img">
          <img src="assets/images/catalog-7.jpg" alt="catalog" class="catalog-list-item-img__img">
        </a>

        <h4 class="catalog-list-item__title">Hoops</h4>

        <p class="catalog-list-item__description">Подвесная лампа</p>
      </li>
      <li class="catalog-list-item">
        <a href="#" class="catalog-list-item-img">
          <img src="assets/images/catalog-8.jpg" alt="catalog" class="catalog-list-item-img__img">
        </a>

        <h4 class="catalog-list-item__title">Wireflow</h4>

        <p class="catalog-list-item__description">Подвесная лампа</p>
      </li>
      <li class="catalog-list-item">
        <a href="#" class="catalog-list-item-img">
          <img src="assets/images/catalog-9.jpg" alt="catalog" class="catalog-list-item-img__img">
        </a>

        <h4 class="catalog-list-item__title">Wireflow Chandelier</h4>

        <p class="catalog-list-item__description">Подвесная лампа</p>
      </li>
      <li class="catalog-list-item">
        <a href="#" class="catalog-list-item-img">
          <img src="assets/images/catalog-10.jpg" alt="catalog" class="catalog-list-item-img__img">
        </a>

        <h4 class="catalog-list-item__title">Wireflow lineal</h4>

        <p class="catalog-list-item__description">Подвесная лампа</p>
      </li>
      <li class="catalog-list-item">
        <a href="#" class="catalog-list-item-img">
          <img src="assets/images/catalog-11.jpg" alt="catalog" class="catalog-list-item-img__img">
        </a>

        <h4 class="catalog-list-item__title">Wireflow free-form</h4>

        <p class="catalog-list-item__description">Подвесная лампа</p>
      </li>
      <li class="catalog-list-item">
        <a href="#" class="catalog-list-item-img">
          <img src="assets/images/catalog-12.jpg" alt="catalog" class="catalog-list-item-img__img">
        </a>

        <h4 class="catalog-list-item__title">Duo</h4>

        <p class="catalog-list-item__description">Подвесная лампа</p>
      </li>
      <li class="catalog-list-item">
        <a href="#" class="catalog-list-item-img">
          <img src="assets/images/catalog-13.jpg" alt="catalog" class="catalog-list-item-img__img">
        </a>

        <h4 class="catalog-list-item__title">Palma</h4>

        <p class="catalog-list-item__description">Подвесная лампа</p>
      </li>
      <li class="catalog-list-item">
        <a href="#" class="catalog-list-item-img">
          <img src="assets/images/catalog-14.jpg" alt="catalog" class="catalog-list-item-img__img">
        </a>

        <h4 class="catalog-list-item__title">Palma</h4>

        <p class="catalog-list-item__description">Подвесная лампа</p>
      </li>
      <li class="catalog-list-item">
        <a href="#" class="catalog-list-item-img">
          <img src="assets/images/catalog-15.jpg" alt="catalog" class="catalog-list-item-img__img">
        </a>

        <h4 class="catalog-list-item__title">Palma</h4>

        <p class="catalog-list-item__description">Подвесная лампа</p>
      </li>
      <li class="catalog-list-item">
        <a href="#" class="catalog-list-item-img">
          <img src="assets/images/catalog-16.jpg" alt="catalog" class="catalog-list-item-img__img">
        </a>

        <h4 class="catalog-list-item__title">Algorithm</h4>

        <p class="catalog-list-item__description">Подвесная лампа</p>
      </li>
      <li class="catalog-list-item">
        <a href="#" class="catalog-list-item-img">
          <img src="assets/images/catalog-17.jpg" alt="catalog" class="catalog-list-item-img__img">
        </a>

        <h4 class="catalog-list-item__title">Link</h4>

        <p class="catalog-list-item__description">Подвесная лампа</p>
      </li>
      <li class="catalog-list-item">
        <a href="#" class="catalog-list-item-img">
          <img src="assets/images/catalog-18.jpg" alt="catalog" class="catalog-list-item-img__img">
        </a>

        <h4 class="catalog-list-item__title">BuzziShade Square</h4>

        <p class="catalog-list-item__description">Подвесная лампа</p>
      </li>
      <li class="catalog-list-item">
        <a href="#" class="catalog-list-item-img">
          <img src="assets/images/catalog-19.jpg" alt="catalog" class="catalog-list-item-img__img">
        </a>

        <h4 class="catalog-list-item__title">BuzziShade</h4>

        <p class="catalog-list-item__description">Подвесная лампа</p>
      </li>
      <li class="catalog-list-item">
        <a href="#" class="catalog-list-item-img">
          <img src="assets/images/catalog-20.jpg" alt="catalog" class="catalog-list-item-img__img">
        </a>

        <h4 class="catalog-list-item__title">BuzziProp</h4>

        <p class="catalog-list-item__description">Подвесная лампа</p>
      </li>
      <li class="catalog-list-item">
        <a href="#" class="catalog-list-item-img">
          <img src="assets/images/catalog-21.jpg" alt="catalog" class="catalog-list-item-img__img">
        </a>

        <h4 class="catalog-list-item__title">BuzziDisk</h4>

        <p class="catalog-list-item__description">Подвесная лампа</p>
      </li>
      <li class="catalog-list-item">
        <a href="#" class="catalog-list-item-img">
          <img src="assets/images/catalog-22.jpg" alt="catalog" class="catalog-list-item-img__img">
        </a>

        <h4 class="catalog-list-item__title">BuzziTrom</h4>

        <p class="catalog-list-item__description">Подвесная лампа</p>
      </li>
      <li class="catalog-list-item">
        <a href="#" class="catalog-list-item-img">
          <img src="assets/images/catalog-23.jpg" alt="catalog" class="catalog-list-item-img__img">
        </a>

        <h4 class="catalog-list-item__title">BuzziZepp Light</h4>

        <p class="catalog-list-item__description">Подвесная лампа</p>
      </li>
      <li class="catalog-list-item">
        <a href="#" class="catalog-list-item-img">
          <img src="assets/images/catalog-24.jpg" alt="catalog" class="catalog-list-item-img__img">
        </a>

        <h4 class="catalog-list-item__title">Skirt</h4>

        <p class="catalog-list-item__description">Подвесная лампа</p>
      </li>
      <li class="catalog-list-item">
        <a href="#" class="catalog-list-item-img">
          <img src="assets/images/catalog-25.jpg" alt="catalog" class="catalog-list-item-img__img">
        </a>

        <h4 class="catalog-list-item__title">Fedora</h4>

        <p class="catalog-list-item__description">Подвесная лампа</p>
      </li>
      <li class="catalog-list-item">
        <a href="#" class="catalog-list-item-img">
          <img src="assets/images/catalog-26.jpg" alt="catalog" class="catalog-list-item-img__img">
        </a>

        <h4 class="catalog-list-item__title">Virtus</h4>

        <p class="catalog-list-item__description">Подвесная лампа</p>
      </li>
      <li class="catalog-list-item">
        <a href="#" class="catalog-list-item-img">
          <img src="assets/images/catalog-27.jpg" alt="catalog" class="catalog-list-item-img__img">
        </a>

        <h4 class="catalog-list-item__title">45 Degrees</h4>

        <p class="catalog-list-item__description">Подвесная лампа</p>
      </li>
      <li class="catalog-list-item">
        <a href="#" class="catalog-list-item-img">
          <img src="assets/images/catalog-28.jpg" alt="catalog" class="catalog-list-item-img__img">
        </a>

        <h4 class="catalog-list-item__title">Flat</h4>

        <p class="catalog-list-item__description">Подвесная лампа</p>
      </li>
    </ul>
  </div>
</section>