<section class="collection">
  <div class="container">

    <h2 class="collection-title">Wireflow</h2>

    <p class="collection-description">
      Коллекция <span class="collection-description_semi-bold">Wireflow</span> - это черные электрические кабеля в сочетании с металлической
      стержневой структурой, прослеживает чистые минималистские формы в двух измерениях, которые создают захватывающее
      графическое ощущение.
    </p>

    <ul class="catalog-list">
      <li class="catalog-list-item">
        <a href="#" class="catalog-list-item-img">
          <img src="assets/images/catalog-8.jpg" alt="catalog" class="catalog-list-item-img__img">
        </a>

        <h4 class="catalog-list-item__title">Wireflow</h4>

        <p class="catalog-list-item__description">Подвесная лампа</p>
      </li>

      <li class="catalog-list-item">
        <a href="#" class="catalog-list-item-img">
          <img src="assets/images/catalog-9.jpg" alt="catalog" class="catalog-list-item-img__img">
        </a>

        <h4 class="catalog-list-item__title">Wireflow Chandelier</h4>

        <p class="catalog-list-item__description">Подвесная лампа</p>
      </li>

      <li class="catalog-list-item">
        <a href="#" class="catalog-list-item-img">
          <img src="assets/images/catalog-10.jpg" alt="catalog" class="catalog-list-item-img__img">
        </a>

        <h4 class="catalog-list-item__title">Wireflow lineal</h4>

        <p class="catalog-list-item__description">Подвесная лампа</p>
      </li>

      <li class="catalog-list-item">
        <a href="#" class="catalog-list-item-img">
          <img src="assets/images/catalog-11.jpg" alt="catalog" class="catalog-list-item-img__img">
        </a>

        <h4 class="catalog-list-item__title">Wireflow free-form</h4>

        <p class="catalog-list-item__description">Подвесная лампа</p>
      </li>
    </ul>

  </div>
</section>