<footer class="footer">
  <div class="footer-container">

    <div class="footer-nav">
      <div class="footer-nav-item">
        <a href="#" class="footer-nav__link footer-nav__link_bold footer-nav__link_big">Каталог</a>
      </div>

      <div class="footer-nav-item">
        <a href="#" class="footer-nav__link footer-nav__link_bold footer-nav__link_big">Галерея</a>
        <a href="#" class="footer-nav__link">Посольтво РБ в Казахстане</a>
        <a href="#" class="footer-nav__link">Офит IT-компании</a>
        <a href="#" class="footer-nav__link">Офис производственной компании</a>
        <a href="#" class="footer-nav__link">Офис Бизнес Авиации</a>
        <a href="#" class="footer-nav__link">Офис военно-промышленного предприятия</a>
      </div>

      <div class="footer-nav-item">
        <a href="#" class="footer-nav__link footer-nav__link_bold footer-nav__link_big">О нас</a>
        <a href="#" class="footer-nav__link">История</a>
        <a href="#" class="footer-nav__link">Идeoлогия</a>
        <a href="#" class="footer-nav__link">Бренды</a>
      </div>

      <div class="footer-nav-item">
        <p class="footer-nav__link footer-nav__link_bold footer-nav__link_big">Контакты</p>
        <p class="footer-nav__link footer-nav__link_bold">Минск</p>
        <p class="footer-nav__link">пр. Победителей 125</p>
        <a href="tel:+375293758729" class="footer-nav__link">+375 (29) 375-87-29</a>
        <a href="tel:+375296818179" class="footer-nav__link">+375 (29) 681-81-79</a>
      </div>

      <div class="footer-nav-item">
        <a href="#" class="footer-nav-logo">
          <img src="assets/images/logo big.png" alt="logo" class="footer-nav-logo__img">
        </a>
      </div>
    </div>

    <div class="footer-legal">
      <p class="footer-legal__text">
        © 2022 Lite & Light
      </p>

      <div class="footer-legal-icons">
        <a href="#" class="footer-legal-link">
          <svg class="footer-legal-link__icon">
            <use href="#facebook-icon"></use>
          </svg>
        </a>

        <a href="#" class="footer-legal-link">
          <svg class="footer-legal-link__icon">
            <use href="#twitter-icon"></use>
          </svg>
        </a>

        <a href="#" class="footer-legal-link">
          <svg class="footer-legal-link__icon">
            <use href="#instagram-icon"></use>
          </svg>
        </a>
      </div>
    </div>

  </div>
</footer>