<section class="gallery">
  <div class="gallery-container">

    <div class="gallery-col-1">
      <a href="assets/images/gallery-1.jpg" class="gallery-col-1-img" data-fancybox>
        <img src="assets/images/gallery-1.jpg" alt="img" class="gallery-col-1-img__img">
      </a>

      <a href="assets/images/main-gallery-1.jpg" class="gallery-col-1-img" data-fancybox>
        <img src="assets/images/main-gallery-1.jpg" alt="img" class="gallery-col-1-img__img">
      </a>
    </div>

    <div class="gallery-col-2">
      <a href="assets/images/gallery-3.jpg" class="gallery-col-2-img" data-fancybox>
        <img src="assets/images/gallery-3.jpg" alt="" class="gallery-col-2-img__img">
      </a>

      <div class="gallery-col-2-info">
        <h3 class="gallery-title">
          Посольстве Республики Беларусь в Республике Казахстан
        </h3>

        <a href="#" class="main-btn gallery-col-2-link">
          Следующий проект
          <svg class="main-btn__icon">
            <use href="#btn-arrow-icon"></use>
          </svg>
        </a>
      </div>
    </div>

    <div class="gallery-col-3">
      <a href="assets/images/gallery-4.jpg" class="gallery-col-3-img" data-fancybox>
        <img src="assets/images/gallery-4.jpg" alt="img" class="gallery-col-2-img__img">
      </a>
    </div>

  </div>
</section>