<section class="gallery">
  <div class="gallery-container">

    <ul class="gallery-list">
      <li class="gallery-list-item">
        <div class="gallery-list-item-box_1">
          <h3 class="gallery-list-item-title">
            Посольстве
            Республики Беларусь
            в Республике Казахстан
          </h3>
        </div>

        <div class="gallery-list-item-box_2">
          <a href="#" class="gallery-list-item-link">
            посмотреть
          </a>
        </div>

        <div class="gallery-list-item-box_3">
          <a href="assets/images/gallery-4.jpg" class="gallery-list-item-img" data-fancybox>
            <img src="assets/images/gallery-4.jpg" alt="gallery" class="gallery-list-item-img__img">
          </a>
        </div>

        <div class="gallery-list-item-box_4">
          <a href="assets/images/gallery-3.jpg" class="gallery-list-item-img" data-fancybox>
            <img src="assets/images/gallery-3.jpg" alt="gallery" class="gallery-list-item-img__img">
          </a>
        </div>
      </li>

      <li class="gallery-list-item">
        <div class="gallery-list-item-box_1">
          <h3 class="gallery-list-item-title">
            Терминал Бизнес Авиации
            в Аэропорту Минск-2
          </h3>
        </div>

        <div class="gallery-list-item-box_2">
          <a href="#" class="gallery-list-item-link">
            посмотреть
          </a>
        </div>

        <div class="gallery-list-item-box_3">
          <a href="assets/images/gallery-5.jpg" class="gallery-list-item-img" data-fancybox>
            <img src="assets/images/gallery-5.jpg" alt="gallery" class="gallery-list-item-img__img">
          </a>
        </div>

        <div class="gallery-list-item-box_4">
          <a href="assets/images/gallery-6.jpg" class="gallery-list-item-img" data-fancybox>
            <img src="assets/images/gallery-6.jpg" alt="gallery" class="gallery-list-item-img__img">
          </a>
        </div>
      </li>

      <li class="gallery-list-item">
        <div class="gallery-list-item-box_1">
          <h3 class="gallery-list-item-title">
            Офис военно-промышленного предриятия в РБ
          </h3>
        </div>

        <div class="gallery-list-item-box_2">
          <a href="#" class="gallery-list-item-link">
            посмотреть
          </a>
        </div>

        <div class="gallery-list-item-box_3">
          <a href="assets/images/gallery-7.jpg" class="gallery-list-item-img" data-fancybox>
            <img src="assets/images/gallery-7.jpg" alt="gallery" class="gallery-list-item-img__img">
          </a>
        </div>

        <div class="gallery-list-item-box_4">
          <a href="assets/images/gallery-8.jpg" class="gallery-list-item-img" data-fancybox>
            <img src="assets/images/gallery-8.jpg" alt="gallery" class="gallery-list-item-img__img">
          </a>
        </div>
      </li>
    </ul>

  </div>
</section>