<header class="header">
  <div class="header-container">

    <nav class="header-menu">
      <a href="#" class="header-logo">
        <img src="assets/images/header-logo.png" alt="logo">
      </a>

      <a href="#" class="header-link">КАТАЛОГ</a>

      <a href="#" class="header-link">ГАЛЕРЕЯ</a>

      <a href="#" class="header-link header-link_btn">КАСТОМ</a>
    </nav>

    <div class="header-search-wrapper">
      <div class="header-search-inner">
        <input class="header-search__input" type="text" placeholder="Поиск">

        <button class="header-search-btn" type="button">
          <svg class="header-search__icon">
            <use href="#search-icon"></use>
          </svg>
        </button>
      </div>

      <button class="header-search-btn" type="button">
        <svg class="header-search__icon-heart">
          <use href="#heart-icon"></use>
        </svg>
      </button>
    </div>

  </div>
</header>