<section class="main">

  <div class="main-swiper-bg">
    <div class="main-swiper-conteiner">
      <div class="main-info">
        <h2 class="main-title">
          Больше, <br>
          чем просто <br>
          свет <br>
        </h2>

        <h5 class="main-subtitle">
          От идеи до воплощения
        </h5>

        <a href="#" class="main-btn main__btn">
          ПЕРЕЙТИ В КАТАЛОГ
          <svg class="main-btn__icon">
            <use href="#btn-arrow-icon"></use>
          </svg>
        </a>
      </div>

      <div class="swiper main-swiper">
        <div class="swiper-wrapper main-swiper-wrapper">
          <div class="swiper-slide main-swiper-slide">
            <a href="#" class="main-swiper-slide-img">
              <img class="main-swiper-slide-img__img" src="assets/images/main-greet-img-1.png" alt="main-greet">
            </a>
          </div>

          <div class="swiper-slide main-swiper-slide">
            <a href="#" class="main-swiper-slide-img">
              <img class="main-swiper-slide-img__img" src="assets/images/main-greet-img-2.png" alt="main-greet">
            </a>
          </div>

          <div class="swiper-slide main-swiper-slide">
            <a href="#" class="main-swiper-slide-img">
              <img class="main-swiper-slide-img__img" src="assets/images/main-greet-img-3.png" alt="main-greet">
            </a>
          </div>

          <div class="swiper-slide main-swiper-slide">
            <a href="#" class="main-swiper-slide-img">
              <img class="main-swiper-slide-img__img" src="assets/images/main-greet-img-4.png" alt="main-greet">
            </a>
          </div>

          <div class="swiper-slide main-swiper-slide">
            <a href="#" class="main-swiper-slide-img">
              <img class="main-swiper-slide-img__img" src="assets/images/main-greet-img-5.png" alt="main-greet">
            </a>
          </div>
        </div>
      </div>

      <div class="main-swiper-pagination">
        <div class="main-swiper-pagination-titles">
          <h4 class="main-swiper-pagination__title _active">
            Fedora
          </h4>
          <h4 class="main-swiper-pagination__title">
            Hoops
          </h4>
          <h4 class="main-swiper-pagination__title">
            Algorithm
          </h4>
          <h4 class="main-swiper-pagination__title">
            U-light Wall
          </h4>
          <h4 class="main-swiper-pagination__title">
            Wireflow Chandlier
          </h4>
        </div>

        <div class="main-swiper-pagination-btns">
          <button class="main-swiper-pagination-btn _active" type="button" data-title="Fedora">
            1
          </button>
          <button class="main-swiper-pagination-btn" type="button" data-title="Hoops">
            2
          </button>
          <button class="main-swiper-pagination-btn" type="button" data-title="Algorithm">
            3
          </button>
          <button class="main-swiper-pagination-btn" type="button" data-title="U-light Wall">
            4
          </button>
          <button class="main-swiper-pagination-btn" type="button" data-title="Wireflow Chandlier">
            5
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="main-collections">
    <div class="main-collections-item">
      <h3 class="main-collections-item-title">
        Коллекции
      </h3>
    </div>

    <a href="#" class="main-collections-item">
      <div class="main-collections-item-bg"></div>

      <div class="main-collections-item-img">
        <img src="assets/images/collection-6.png" alt="collection" class="main-collections-item-img__img">
      </div>

      <p class="main-collections-item-name">
        Duo
      </p>
    </a>

    <a href="#" class="main-collections-item">
      <div class="main-collections-item-bg"></div>

      <div class="main-collections-item-img">
        <img src="assets/images/collection-2.png" alt="collection" class="main-collections-item-img__img">
      </div>

      <p class="main-collections-item-name">
        Shade Pendant
      </p>
    </a>

    <a href="#" class="main-collections-item">
      <div class="main-collections-item-bg"></div>

      <div class="main-collections-item-img">
        <img src="assets/images/collection-4.png" alt="collection" class="main-collections-item-img__img">
      </div>

      <p class="main-collections-item-name">
        Link
      </p>
    </a>

    <a href="#" class="main-collections-item">
      <div class="main-collections-item-bg"></div>

      <div class="main-collections-item-img">
        <img src="assets/images/collection-1.png" alt="collection" class="main-collections-item-img__img">
      </div>

      <p class="main-collections-item-name">
        Shade Square
      </p>
    </a>

    <a href="#" class="main-collections-item">
      <div class="main-collections-item-bg"></div>

      <div class="main-collections-item-img">
        <img src="assets/images/collection-3.png" alt="collection" class="main-collections-item-img__img">
      </div>

      <p class="main-collections-item-name">
        Trom
      </p>
    </a>

    <a href="#" class="main-collections-item">
      <div class="main-collections-item-bg"></div>

      <div class="main-collections-item-img">
        <img src="assets/images/collection-5.png" alt="collection" class="main-collections-item-img__img">
      </div>

      <p class="main-collections-item-name">
        Algorithm
      </p>
    </a>
  </div>

  <div class="main-colors">
    <h3 class="main-colors-title">
      Типы дизайнерского света
    </h3>

    <div class="main-colors-container">
      <div class="main-colors-item">
        <div class="main-colors-item-img">
          <img src="assets/images/color-type-1.png" alt="color" class="main-colors-item-img__img">
        </div>

        <div class="main-colors-inner">
          <h4 class="main-colors-item-title">
            Классика
          </h4>

          <p class="main-colors-item-description">
            Готовые <br>
            решения
          </p>

          <a href="#" class="main-btn main-colors-item-link">
            ПЕРЕЙТИ В КАТАЛОГ
            <svg class="main-btn__icon">
              <use href="#btn-arrow-icon"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="main-colors-item">
        <div class="main-colors-item-img">
          <img src="assets/images/color-type-2.png" alt="color" class="main-colors-item-img__img">
        </div>

        <div class="main-colors-inner">
          <h4 class="main-colors-item-title">
            Кастом
          </h4>

          <p class="main-colors-item-description">
            Индивидуальные <br>
            решения
          </p>

          <a href="#" class="main-btn main-colors-item-link">
            ПЕРЕЙТИ В КАТАЛОГ
            <svg class="main-btn__icon">
              <use href="#btn-arrow-icon"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="main-portfolio">
    <h3 class="main-portfolio-title">
      НАШИ РАБОТЫ
    </h3>

    <div class="swiper main-portfolio-swiper">
      <div class="swiper-wrapper main-portfolio-swiper-wrapper">
        <a href="#" class="swiper-slide main-portfolio-swiper-slide">
          <img src="assets/images/main-gallery-1.jpg" alt="portfolio" class="main-portfolio-swiper-slide__img">
        </a>

        <a href="#" class="swiper-slide main-portfolio-swiper-slide">
          <img src="assets/images/main-gallery-2.jpg" alt="portfolio" class="main-portfolio-swiper-slide__img">
        </a>

        <a href="#" class="swiper-slide main-portfolio-swiper-slide">
          <img src="assets/images/main-gallery-3.jpg" alt="portfolio" class="main-portfolio-swiper-slide__img">
        </a>
      </div>
    </div>

    <div class="main-portfolio-pagination">

    </div>
  </div>

</section>