<div class="modal-form">

  <div class="modal-form__bg"></div>

  <form action="#" class="modal-form__form">
    <div class="modal-form__submit">Спасибо!</div>
    <input type="text" class="modal-form__input" placeholder="Имя...">
    <input type="text" class="modal-form__input" placeholder="Номер телефона...">
    <textarea class="modal-form__input modal-form__textarea" placeholder="Ваше сообщение..."></textarea>
    <button type="submit" class="modal-form__btn">
      Отправить
    </button>
  </form>
</div>