<section class="product">
  <div class="product-head-container">
    <div class="product-head">
      <div class="product-head-img">
        <img src="assets/images/duo.png" alt="duo" class="product-head-img__img">
      </div>

      <h2 class="product-head-title">
        Duo
      </h2>

      <div class="product-head-price">
        <span class="product-head-price__text">Цена</span>
        <span class="product-head-price__value">00.000<span class="product-head-price__unit"> ₽</span></span>
      </div>

      <button class="product-head-btn">Заказать</button>
    </div>
  </div>

  <div class="product-description">
    <p class="product-description__text">
      <span class="product-description__text_bold">Duo</span> — это потолочный светильник, который сочетает в себе
      естественный теплый внешний вид дерева с технической
      изысканностью металлической оболочки. Это лампа контрастов, которая естественным образом вписывается в любую
      обстановку.
    </p>
    <p class="product-description__text">
      <span class="product-description__text_bold">Duo</span> — это потолочный светильник с поверхностным монтажом, в
      котором естественный теплый внешний вид древесины
      дуба внутри сочетается с технической утонченностью алюминиевого металлического покрытия снаружи.
    </p>

    <div class="product-description-img">
      <img src="assets/images/collection-6_min.png" alt="duo" class="product-description-img__img">
    </div>
  </div>

  <div class="product-content">
    <div class="product-content-img">
      <img src="assets/images/product-1.jpg" alt="duo" class="product-content-img__img">
    </div>

    <div class="product-content-duo">
      <div class="product-content-img">
        <img src="assets/images/product-2.jpg" alt="duo" class="product-content-img__img">
      </div>
      <div class="product-content-img">
        <img src="assets/images/product-3.jpg" alt="duo" class="product-content-img__img">
      </div>
    </div>

    <div class="product-content-img">
      <img src="assets/images/product-1.jpg" alt="duo" class="product-content-img__img">
    </div>

    <div class="swiper product-swiper">
      <div class="swiper-wrapper product-swiper-wrapper">
        <div class="swiper-slide product-swiper-slide">
          <div class="product-content-img">
            <img src="assets/images/product-1.jpg" alt="duo" class="product-swiper-slide__img product-content-img__img">
          </div>
        </div>
        <div class="swiper-slide product-swiper-slide">
          <div class="product-content-img">
            <img src="assets/images/product-2.jpg" alt="duo" class="product-swiper-slide__img product-content-img__img">
          </div>
        </div>
        <div class="swiper-slide product-swiper-slide">
          <div class="product-content-img">
            <img src="assets/images/product-3.jpg" alt="duo" class="product-swiper-slide__img product-content-img__img">
          </div>
        </div>
      </div>

      <div class="product-swiper-pagination"></div>
    </div>
  </div>
</section>